#grid {
  width: 360px;
  height: 360px;
  margin: 100px auto; /*page positioning*/
  display: flex; /*put each square one after the other, on the line*/
  flex-wrap: wrap; /*to don't be on top of each other*/
}

#grid div {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid #000000;
  box-shadow: 0 0 0 1px #000000; /*the outer lines of the game board*/
  text-align: center;
}

textarea {
  width: 36px;
  height: 36px;
}
